{% extends 'layout.html' %}

{% block body %}
 <div style="margin-left: 150px; margin-right: 150px; margin-top: 300px"> 
  <h2>
   This database is for CS2300.
   
   We created this in order organize a more convenient way for students to find and study from available old exams.
   Currently, students ask around and hope someone have access to the test they're looking for and are willing to share it,
   With this database system, they can simply search for what they're looking for.
  </h2>
 </div>
{% endblock %}