{% extends 'layout.html' %}

{% block body %}
    <div style="float: right; margin-right: 200px; margin-top: 100px">
        <h1>Welcome to the Exam Archive System</h1>
        <h3>Please log in or register</h3>
    </div>
    

    <div style="float: left; margin-left: 15%; margin-top: 250px">
        <div class="login">
            <h1><a href="/register">Register</a></h1>
        </div>
        <div class="login">
            <h1><a href="/login">Login</a></h1>
        </div>
        <div class="login">
            <h1><a href="/NumbersExam">Active Users</a></h1>
        </div>
    </div>
    
    <script>console.log("asdf");</script>
    
    <br><br>
    <script>
        console.log("asdf2");
        object = JSON.parse({{all_articles | tojson | safe}});//.replace('\'', '\"');
        console.log(object);
        object = JSON.parse(object); //, function(key, value){
        object.test();
        console.log ( object );
        object.articles.forEach(function(element) {
            console.log(element);
        });
    </script>
    
    <p>{{ all_articles }}</p>

{% endblock %}
