{% extends 'layout.html' %}

{% block body %}
    
    <div class="container" id="content"></div>
    
    <script>
        console.log("asdf");
    
        console.log("asdf2");
        object = JSON.parse({{all_articles | tojson | safe}});
        console.log ( object );
        html = "";
        object.articles.forEach(function(element) {
            console.log(element);
            adder = "<br><br><br><br><div height='80' style='height: 80px;'>";
            html += "<a href='" ;
            html += element.url;
            html += "'>";
            adder += "<img style='float:left;' height='100' width=\"200px\" src=\'";
            adder += element.urlToImage;
            adder += "\'></img>";
            html += adder;
            html += "</a>"
            
            html += "<a href='" ;
            html += element.url;
            html += "'>";
            html += "<h3>" + element.title + "</h3>";
            html += "<p>";
            html += element.description;
            html += "</p></a></div>";
        });
        document.getElementById("content").innerHTML = html;
        console.log("zxcv");
    
    
    </script>
    
    <br><br>
    
    <!--<p>{{ all_articles }}</p>-->

{% endblock %}
