{% extends 'layout.html' %}
{% block body %}
<div style="float: right; margin-right: 250px">
    <h3>
        Please login to continue.
    </h3>
</div>

<div style="margin-left: 250px; margin-top: 350px">
    <form action = "{{ url_for('log') }}" method = "post">
        Username:<br>
        <input type="text" name="UN"><br>
        Password:<br>
        <input type="password" name="PW"><br>
        <p>
            
        </p>
        <input type="submit" value="Submit">
    </form> 
</div>
{% endblock %}