{% extends 'modlayout.html' %}

{% block body %}
  <head>
    <!-- formatting and organization of data -->
    <style>
    table, th, td {
      border: 1px solid black;
      empty-cells: hide;
    }

    th, td {
      padding: 15px;
    }
    </style>
  </head>

  <table>
     <thead>
        <td width="200px">ExamID</td>
        <td width="200px">Course Number</td>
        <td width="200px">Subject</td>
        <td width="200px">Exam Title</td>
        <td width="200px">Semester</td>
        <td width="200px">Open File</td>
        <td width="200px">Modify</td>
        <td width="200px">Delete</td>
     </thead>

     <!-- display data from query that mods inserted via forms -->
     {% for Rexam in Rexams %}
        <tr>
           <td>{{Rexam["ExamID"]}}</td>
           <td>{{Rexam["CourseNum"]}}</td>
           <td>{{Rexam["Subj"]}}</td>
           <td>{{Rexam["ExamTitle"]}}</td>

           <td>{{Rexam["Semester"]}}</td>
           <td><a href="/return-file/{{Rexam["ExamID"]}}{{Rexam["Extension"]}}" target="blank"><button class ='btn btn-default'>Open File</button></a></td>
           <td><a href="/ModifyB/{{Rexam["ExamID"]}}" target="blank"><button class ='btn btn-default'>Modify</button></a></td>
           <td><form method="POST" action ="/delete/{{Rexam["ExamID"]}}" enctype=multipart/form-data><input type=submit value=Delete></form></td>
        </tr>
     {% endfor %}
  </table>
{% endblock %}
