{% extends 'modlayout.html' %}

{% block body %}
<head>
    <style>
    table, th, td {
        border: 1px solid black;
        empty-cells: hide;
    }

    th, td {
        padding: 15px;
    }
    </style>
</head>

<table style="margin-left: 225px">
    <thead>
       <td width="200px">ExamID</td>
       <td width="200px">Course Number</td>
       <td width="200px">Subject</td>
       <td width="200px">Exam Title</td>
       <td width="200px">Semester</td>
    </thead>
    {% for Rexam in Rexams %}
    <tr>
       <td>{{Rexam["ExamID"]}}</td>
       <td>{{Rexam["CourseNum"]}}</td>
       <td>{{Rexam["Subj"]}}</td>
       <td>{{Rexam["ExamTitle"]}}</td>
       <td>{{Rexam["Semester"]}}</td>
    </tr>
    {% endfor %}
</table>
    
{% for Rexam in Rexams %}
<div style="margin-left: 225px">
    <p>&nbsp;</p>
    <form method="POST" action ="/Modify/{{Rexam["ExamID"]}}" enctype=multipart/form-data>
        Course Number:<br>
        <input type="text" name="CourseNum"><br>
        Subject:<br>
        <input type="text" name="Subject"><br>
        Exam Title:<br>
        <input type="text" name="ExamTitle"><br>
        Semester:<br>
        <input type="text" name="Semester"><br>
        <input type=submit value=Submit>
    </form>
</div>
{% endfor %}
{% endblock %}