{% extends 'layout.html' %}

{% block body %}
  <head>
    <style>
    table, th, td {
      border: 1px solid black;
      empty-cells: hide;
    }
    
    th, td {
      padding: 15px;
    }
    </style>
  </head>

  <table style="margin-left: 700px">
     <thead>
        <td width="200px">Account ID</td>
        <td width="300px">Number of Exams Submitted</td>

     </thead>
     {% for Exam in Exams %}
      <tr>
          <td>{{Exam["AccountID"]}}</td>
          <td>{{Exam["ExamsSubmitted"]}}</td>
      </tr>
     {% endfor %}
  </table>
{% endblock %}