{% extends 'layout.html' %}

{% block body %}
  <div style="float: right; margin-right: 200px">
    <h3>
      Enter the requested information to search for desired type of news<br>

    </h3>
  </div>

  <!-- basic user search -->
  <div style="margin-left: 250px; margin-top: 300px">
    <form method="POST" action ="/display" enctype=multipart/form-data>
      Subject:<br>
      <input type="text" name="Subject"><br>
      <P>
      <P>
      <input type=submit value=Submit>
    </form>
  </div>
{% endblock %}
s
