{% extends 'layout.html' %}

{% block body %}
  <div style="float:right; margin-right: 200px">
    <h3>
      Hello {{name}} <br>
      Please fill in the following information to upload an Exam.
    </h3>
  </div>

  <div style="margin-left: 250px; margin-top: 200px">
    <form method="POST" action ="/upload" enctype=multipart/form-data>
      Course Number:<br>
      <input type="text" name="CourseNum"><br>
      Subject:<br>
      <input type="text" name="Subject"><br>
      Exam Title:<br>
      <input type="text" name="ExamTitle"><br>
      Semester:<br>
      <input type="text" name="Semester"><br>
      AccountID:<br>
      <input type="text" name="ACCID"><br>
      <p>

      </p>
      <input type=file name=inputFile>
      <p>

      </p>
      <input type=submit value=Submit>
    </form>
  </div>
{% endblock %}
